@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
#header-logo {
  padding-right: 10px;
}

#header-logo > img {
  width: 100px;
}


.header-items > li {
  padding: 0px 15px 0px 15px;
}

.btn-login {
  background-color: #4BC248;
  color: white;
}

.rectangule-one {
  width: 100%;
  height: 50px;
  background-color: #C89B6F;
}

.carousel-inner {
  max-height: 700px;
  overflow: hidden;
}

.carousel-item {
  height: 700px;
}

.carousel-item>img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

#banner-text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  text-align: center;
  color: white;
  width: 80%;
}


#banner-text>h2,
p {
  text-align: start;
  font-weight: bold;
  font-size: 55px;
}

#banner-text>p {
  text-align: start;
  font-weight: lighter;
  font-size: 20px;
}

#banner-text>button {
  left: 0;
  width: 200px;
  height: 50px;
  align-items: self-start;
  position: absolute;
  border: solid 1 black;
  border-radius: 20px;
  background-color: #71A35A;
  color: white
}

.Mission {
  padding: 100px ;
  height: 522px;
  background-color: #6CB2D9;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.text-h2 >h2 {
  color: white;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;

}

.Mission > p {
  position: relative;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;

}
.rayado{
  color: white;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 40px;
  font-weight: bold;
  background: linear-gradient(0deg, transparent 0%, transparent 75%, white 75%, white 100%);
  background-repeat: no-repeat;
  background-size: 100% 8px; /* Ajusta el grosor del subrayado */
  background-position: 0 120%; /* Ajusta la separación del subrayado del texto */
  display: inline-block;
 
}
.text-h2{
  display: flex;
  align-content: center;
  justify-content: center;
  
}

.card-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px; /* Espacio entre las tarjetas */
  margin-top: -120px



} 

.card {
  text-align: center;
  width: 370px;
  height: 260px;
  justify-content: center;
  align-items: center;
  

}

.card-title{
 font-size: 23;
 font-weight: bold;
 font-family: 'Inter', sans-serif;

}
.card-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

.card > img{
  margin-top: 20px ;
 max-width: 100px;
 max-height: 100px;
 

}

.h2-title-vission{
  font-family: 'Inter', sans-serif;
 margin-top: 50px;
 font-size:48px;
 align-items: center;
 justify-content:center;
 text-align:center;

}
.main-top{
  display: flex;
  flex-direction: column; /* Cambia la dirección del flujo a vertical */
  align-items: center; /* Centra horizontalmente el contenido */
  text-align: center;
  
}

.tittle-news-main{
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size:48px;
  justify-content:center;
  margin-top:80px ;
  text-align:center; 

}
.row-news{

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 30px; 
  margin:30px;
}
.vinculacion-medio{
  display: flex;
 width:100%;
 height:344px;
 background-color:#6FA456;
 align-items: center;
 
}

.vinculacion-medio > img {
 max-width: 400px;
 max-height: 250px;
 border:solid black 1px ;
 border-radius: 20px;
 filter: brightness(0.7   );
 margin-left:250px  ;
 

}
.vinculacion-medio > h2{
color: white;  
font-family: 'Inter', sans-serif;
font-size:48px;
font-weight: normal;
margin-left:40px  ;

}

.py-3{
 background-color: #3F3F3F; 
 display: flex;
}
.py-3 > img {
  width:150px ;
  height: 100px;
}
.py-3 > h2 {
 color: white;
 font-family: 'Inter', sans-serif;
 font-size: 48px;
 margin: 20px;
 margin-left: 350px;
}
/*-------------------------BANNER---------------------------*/
.banner {
  /*Clase banner, para ocupar con el resto de las paginas*/
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner h2 {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 35%;
  left: 30%;
}

.banner-contact {
  height: 460px;
}

/*------------------------CONTACT FORM------------------------*/

#section-recording {
  display: flex;
  justify-content: center;
  background-color: #71A35A;
}

.form {
  background-color: yellow;
  width: 50%;
  margin: 100px;
  padding: 50px;
  border-radius: 10px;
}

.button-submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* LOGIN CSS */

.login-btn > button{
  width: 100%;
}
